.centered{
    position:absolute;
    height: 100%;
     /*margin: 0 auto;*/
    /*left:50%;*/
    /*top:50%;*/
    /*margin-left:-50px;*/
    /*margin-top:-50px;*/
}

#intro{
    /*padding-top:100px;*/
    min-height: 100%;
    height:500px;
    margin: 0;
}

#about{
    /*padding-top:50px;*/
    height:500px;
}

#main_about{
    /*padding-top: 50px;*/
    height:500px;
}

#main_work{
    padding-top: 700px;
    /*height:500px;*/
}

img.responsive-img, video.responsive-video {
    max-width: 80% !important;
    height: auto;
}

